<div class="PokemonEntry">
    <div class="NameInPokedexMoves">
        <%= @move.name %>
    </div>

    <div class="TypeInPokedexMoves">
        <%= @move.category %>
    </div>

        <%= image_tag(@move.element.image, :class => 'featureMovePokedex') %>

    <div class="MoveDescription">
        <%= @move.description %>
    </div>


    <div class="controlsPokedex">
        <%= link_to 'Edit Move', edit_move_path(@move), class: "colourbottombar" %>
        <%= link_to 'Delete Move', @move, :method => 'delete', class: "colourbottombar", :data => { :confirm => 'Are you sure?' } %>
    </div>
</div>