<h1><%= @current_user.email %>'s Party</h1>
<div class="PartyPokemon">
        <% @current_user.pokemons.each do |pokemon| %>
            <div class="Party">
                <%= pokemon.name %>
                <img class="party" src="<%= pokemon.image %>">
                <%= select_tag(:moves, options_for_select(pokemon.moves.pluck(:name, :id)), :include_blank => true) %>
                <%= select_tag(:moves, options_for_select(pokemon.moves.pluck(:name, :id)), :include_blank => true) %>
                <%= select_tag(:moves, options_for_select(pokemon.moves.pluck(:name, :id)), :include_blank => true) %>
                <%= select_tag(:moves, options_for_select(pokemon.moves.pluck(:name, :id)), :include_blank => true) %>
            </div>
        <% end %>
</div>
<footer>
    <%= link_to 'Add Pokemon to Party', pokemons_path, class: "colourbottombar" if @current_user.pokemons.size <= 5 %>
    <%= render :partial => 'form', class: "colourbottombar" %>
    <a href="" class="colourbottombar">Battle Opponent</a>
</footer>