<div class="PokemonEntry">
        <div class="NameInPokedex">
            <%= @pokemon.name %>
        </div>
        <div class="TypeInPokedex">
            <div class="<%= @pokemon.elements.pluck(:name).join(', ') %>">
                <%= @pokemon.elements.pluck(:name).join(', ') %>
            </div>
        </div>
        <div class="DescriptionInPokedex">
            <%= @pokemon.description %>
        </div>
        <div class="HeightInPokedex">
            <%= @pokemon.height %>
        </div>
        <div class="WeightInPokedex">
            <%= @pokemon.weight %>
        </div>
    <% unless @pokemon.image.nil? || @pokemon.image.empty? %>
        <img class="feature" src="<%= @pokemon.image %>" alt="<%= @pokemon.name %>">
    <% end %>

    <div class="controlsPokedex">
        <%= link_to 'Add to Party', party_path(:id => @pokemon.id), :method => 'post'  if @current_user.pokemons.size <= 5 %>
        <%= link_to 'Edit Pokemon', edit_pokemon_path(@pokemon) %>
        <%= link_to 'Delete Pokemon', @pokemon, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
    </div>
</div>