<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon Database Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
    </style>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>

      <% if @current_user.present? %>
        <%= link_to 'All Users', users_path if @current_user.admin? %>
        <%= link_to 'All Pokemon', pokemons_path %>
        <%= link_to 'All Moves', moves_path %>
        <%= link_to 'Your Party', party_path %>
        <%= link_to "Logout #{ @current_user.email }", login_path, :method => 'delete' %>
      <% else %>
        <%= link_to 'Sign Up', new_user_path %>
        <%= link_to 'Sign In', login_path %>
      <% end %>
    </nav>
    
    <div class="container">
        <div class="textAboveGrid">
            <%= yield %>
        </div>
    </div>
  </body>
</html>
